*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
main{
    background-color: #D9A256;
}
header{
    padding: 15px;
}
footer{
    background-color: #2A3033;
    padding: 15px;

}
.parrafo{
    width: 75%;
}
.navbar{
    background-color: #1E5515;
}
.anchor{
    text-decoration: none;
    color: #E4E3E9;
    padding: 10px;
}
.anchor:hover{
    color: #2A3033 ;
}
.icons{
    height: 40px;
}
.anchorFooter{
    text-decoration: none;
    color: #E4E3E9;
    padding: 20px;
}
#perro{
    height: 400px;
    width: 100%;
    object-fit: cover;
}
#logo{
    height: 50px;
}
footer>div{
    width: 240px;
}